.gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-size: auto 90%;
    color: white;
    background-color: black;
}

#einloggenbutton{
    padding: 2vh;
    background-color: #c9d5cb;
    border: none;
    color: black;
    margin: 1vh;
    width: 10vw;


}
#einloggenbutton:hover{
    background-color: #1c1f1b;
    color: #c9d5cb;
}
#resetGameButton{
    padding: 2vh;
    background-color: #c9d5cb;
    border: none;
    color: black;
    margin: 1vh;
    width: 10vw;

}
#resetGameButton:hover{
    background-color: #1c1f1b;
    color: #c9d5cb;
}
#backtohomebutton{
    padding: 2vh;
    background-color: #c9d5cb;
    border: none;
    color: black;
    margin: 1vh;
    width: 10vw;

}
#backtohomebutton:hover{
    background-color: #1c1f1b;
    color: #c9d5cb;
}

#imageContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Add this line */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#image{
    object-fit: scale-down;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.leaflet-container {
    border: solid 3px whitesmoke;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    height: 30%;
    width: 20%;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.leaflet-container:hover {
    height: 80%;
    width: 80%;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    transform: translate(-10%, -10%);
}

